@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my GameWorld project</h1>
    <p>You can visit my <a href="https://github.com/DimoDimov06">GitHub</a>.</p>
</div>
